@model List<BestSelling>

@foreach (var bestSelling in Model)
{

 <div class="col-md-6 col-lg-4 col-xl-3">
                <div id="product-1" class="single-product">
                    <div class="part-1">

                        <ul>
                            <li><a asp-controller="ProductDetail" asp-action="index"><i class="fas fa-info"></i></a></li>
                            <li><a asp-controller="Shopping_cart" asp-action="index"><i class="fas fa-shopping-cart"></i></a></li>
                            <li><a asp-controller="Wishlist" asp-action="index"><i class="fas fa-heart"></i></a></li>

                        </ul>
                    </div>
                    <div class="part-2">
                        <h2 class="product-header">KILIAN</h2>
                        <h3 class="product-old-price">350₼</h3>
                        <h4 class="product-price">300₼</h4>
                    </div>
                </div>
            </div>
}