@model List<BestSelling>



    @foreach (var bestSelling in Model)
    {
        <!-- Single Product -->
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div id="product-1" class="single-product">
                <div class="part-1" style="background:url('./assets/img/parfums/@bestSelling.Image') ; background-size:cover">

                    <ul>
                        <li><a asp-controller="Product" asp-action="Detail" asp-route-id="@bestSelling.Id"><i class="fas fa-info"></i></a></li>
                        <li><a asp-controller="Shopping_cart" asp-action="index"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a asp-controller="Wishlist" asp-action="index"><i class="fas fa-heart"></i></a></li>

                    </ul>
                </div>
                <div class="part-2">
                    <h2 class="product-header">KILIAN</h2>
                    <h3 class="product-old-price">350₼</h3>
                    <h4 class="product-price">300₼</h4>
                </div>
            </div>
        </div>
    }

