
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- ICONS FOR LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="./assets/css/shopping-cart.css">

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4><b>Səbət</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">3 məhsul</div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="./assets/img/GiorgioArmani/Myway-intense.jfif"></div>
                    <div class="col">
                        <div class="row text-muted">Perfume</div>
                        <div class="row">Perfume</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">50 <span class="close" style="font-size: larger;">&#8380;</span></div>
                </div>
            </div>
            <div class="row">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="./assets/img/Kilians/Products/Kilian-Bamboo.jfif"></div>
                    <div class="col">
                        <div class="row text-muted">Perfume</div>
                        <div class="row">Perfume</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col">50 <span class="close" style="font-size: larger;">&#8380;</span></div>
                </div>
            </div>
            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="./assets/img/parfums/Women/Products/Erba-pura.jfif"></div>
                    <div class="col">
                        <div class="row text-muted">Perfume</div>
                        <div class="row">Perfume</div>
                    </div>
                    <div class="col">
                        <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a>
                    </div>
                    <div class="col"> 50 <span class="close" style="font-size: larger;">&#8380;</span></div>
                </div>
            </div>
            <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Əvvəl</span></div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>TOPLAM QİYMƏT</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">3 məhsul</div>
                <div class="col text-right">150.00<span class="close" style="font-size: larger;">&#8380;</span></div>
            </div>
            <form>
                <p>SHIPPING</p>
                <select>
                    <option class="text-muted">Standard-Delivery- 5.00₼ <span class ="close" style="font-size: larger;"></span></option>
                </select>
                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOPLAM</div>
                <div class="col text-right"> 155.00<span class="close" style="font-size: larger;">&#8380;</span></div>
            </div>
            <button class="btn"><a asp-controller="payment" asp-action="index">CHECKOUT</a></button> 
        </div>
    </div>

</div>



<script src="./assets/js/shopping-cart.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
