@model Video

<div class="container">
    <div style="width:300px;height:200px">
        <img src="~/assets/img/video-link/@Model.Image" style="width:100%" />
    </div>
    <div style="width:500px;display:flex" class="mt-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div class="form-group">
                <label>Choose Photo</label>
                <input asp-for="Photo" class="form-control" placeholder="Example input">
            </div>
           
            <div class="form-group">
                <label>Desc</label>
                <input type="text" asp-for="Desc" class="form-control" value="@Model.Desc" placeholder="Example input">
            </div>
            <div class="form-group">
                <label>Desc2</label>
                <input type="text" asp-for="Link" class="form-control" value="@Model.Link" placeholder="Another input">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

