@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- MAIN START -->
<!-- SLIDER START -->

<div id="carouselExampleIndicators" class="carousel slide hero-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-image"
                 style="background-image: url('https://www.marieclaire.com.au/media/86053/prix-fragrance-head-1.jpg');">
            </div>
        </div>

        @await Component.InvokeAsync("Slider")
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- SLIDER END -->
<!-- Ən çox satilanlar START -->

<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2>ƏN ÇOX SATILANLAR</h2>
                </div>
            </div>
        </div>
        <div class="row">

            @await Component.InvokeAsync("BestSelling")


        </div>
    </div>
</section>

<!-- Ən çox satilanlar END -->
<!--
BRANS LOGO SLDIER -->
<div class="logo-slider">
    <div class="logo-slide-track">
        <div class="slide">
            <img src="./assets/img/logo/Dior.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/GUCCI.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/TOMFORD.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/Dior.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/YSL.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/DG.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/TOMFORD.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/GUCCI.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/TOMFORD.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/Dior.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/YSL.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/DG.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/YSL.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/DG.jpg" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/TOMFORD.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/GUCCI.png" alt="" />
        </div>
        <div class="slide">
            <img src="./assets/img/logo/TOMFORD.png" alt="" />
        </div>




    </div>
</div>



<!-- MULTI PRODUCT SLIDER -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 hidden-xs">
            <div class="controls pull-right">
                <a class="left fa fa-chevron-left btn btn-info " href="#product-slider-bootstrap"
                   data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-info"
                                            href="#product-slider-bootstrap" data-slide="next"></a>
            </div>
        </div>
    </div>

    <div id="product-slider-bootstrap" class="carousel slide hidden-xs" data-ride="carousel" data-type="multi">
        <div class="carousel-inner">
            <div class="item active">
                <div class="row">

                    @await Component.InvokeAsync("Productmulti")
                </div>
            </div>
            <div class="item">
                <div class="row">
                    @await Component.InvokeAsync("Productmulti")
                </div>
            </div>
        </div>
    </div>
</div>


<!-- RESPONSIVE CARD START -->

<div class="container">

    <center>
        <h1 class="title">YENI KOLLEKSIYA</h1>
    </center>



    <div class="row">
        @await Component.InvokeAsync("NewCollection");

    </div>
</div>
<br>


<!-- HOVER CARD END -->
<!-- VIDEO LINK START -->



<section id="about">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-8">
                <div class="img">
                    <iframe width="760" height="515" src="https://www.youtube.com/embed/NMtn_zgL4O8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- VIDEO LINK END -->
<!--TESTIMONIAL START -->

<section class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="sec-heading text-center">
                    <h6>"PARFUMER"</h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="clients-carousel owl-carousel">
                <div class="single-box">
                    <div class="img-area">
                        <img alt="" class="img-fluid" src="./assets/img/Owner/Tomford-owner.jfif">
                    </div>
                    <div class="content">
                        <p>"1962-ci ildə anadan olan Tom Ford Texas ştatının San Markos şəhərində böyüyüb. Tom Ford 2006-cı ildə qadın ətri olaraq Black Orchid ətirini bazara çıxardı, kişilər bu ətirdən çox rahat istifadə edə bilərlər. Black Orchid Tom Fordun ən çox satılan ətirlərindən biridir."</p>
                        <h4>TOMFORD</h4>
                        <h6>PARFUM DIZAYNERI </h6>
                    </div>
                </div>
                <div class="single-box">
                    <div class="img-area">
                        <img alt="" class="img-fluid"
                             src="./assets/img/Owner/0x0-carolina-herrera-bir-kadinin-portesi-1534748569961.jpg">
                    </div>
                    <div class="content">
                        <p>
                            "Karolina Herrera 1939-cu ildə Venesuelanın Karakas şəhərində anadan olub.2007
                            CH Carolina Herrera ətri zövqə təqdim olunur. Cazibədar və təravətli bir qoxu təqdim edən CH Carolina Herrera ən çox bəyənilən ətirlər sırasındadır."
                        </p>
                        <h4>CAROLINA HERRARA</h4>
                        <h6> PARFUM DIZAYNERI </h6>
                    </div>
                </div>
                <div class="single-box">
                    <div class="img-area">
                        <img alt="" class="img-fluid"
                             src="./assets/img/Owner/Hubert de Givenchy.jpg">
                    </div>
                    <div class="content">
                        <p>"Givenchy qurulduğundan 5 il sonra ətir dünyasına qədəm qoydu və məşhur gözəl müştərisi Audrey Hepburndan ilhamlanaraq L'Inderdit-i yaratdı.Givenchy 2013-cü ilə qədər 154 ətir nümayiş etdirdi."</p>
                        <h4>HUBERT DE GIVENCY</h4>
                        <h6> PARFUM DIZAYNERI </h6>
                    </div>
                </div>
                <div class="single-box">
                    <div class="img-area">
                        <img alt="" class="img-fluid" src="./assets/img/Owner/Kilian.jpg">
                    </div>
                    <div class="content">
                        <span class="rating-star">
                            <i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i><i class="icofont-star"></i>
                        </span>
                        <p>
                            "Kilian Hennessy kökləri 1765-ci ilə qədər uzanan Hennessy konyaklarının yeni nəsil nümayəndələrindən biridir.Gənc yaşda ətirlərə aldanaraq ailə biznesini tərk etdi və öz adını daşıyan ətir brendini yaratdı: By Kilian.
                            "
                        </p>
                        <h4>KILIAN HENNESSY</h4>
                        <h6> PARFUM DIZAYNERI </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js">
</script>

<!-- TESTIMONIAL END-->
<!-- SUBSCRIBE START -->

<section id="subscribe">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <div class="content text-center py-5">
                    <h3>Join The Colorful Bunch!</h3>
                    <div class="form-group d-flex justify-content-center flex-wrap mt-5">
                        <form asp-controller="Subscribe" asp-action="Subscribe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <input type="email" name="EMAIL" placeholder="Email Address" class="form-control-lg rounded-0">
                            <button class="btn btn-danger btn-lg rounded-0 px-5 mt-3 mt-sm-0" type="submit">Subscribe</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- SUBSCRIBE END -->
<!-- mailchimp-alerts Start -->
<div class="mailchimp-alerts">
    <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
    <div class="mailchimp-success"></div><!-- mailchimp-success end -->
    <div class="mailchimp-error"></div><!-- mailchimp-error end -->
</div>
<!-- mailchimp-alerts end -->
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var btns = document.querySelectorAll(".ad-basket")
        console.log(btns)

        btns.forEach((val, i) => {

            val.addEventListener("click", function (e) {
                e.preventDefault()

                var id = this.getAttribute("data-id")


                $.ajax({
                    url: "https://localhost:44334/product/AddBasket",
                    data: {
                        id: id
                    },
                    dataType: 'json',
                    type: "post",
                    success: function (data) {
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Uğurla əlavə edildi',
                            showConfirmButton: false,
                            timer: 1000
                        })
                    }
                })
            })
        })
    </script>

}