@model ContactVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/css/all.min.css">
<!-- Product slider multi -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- ICONS FOR LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link rel="stylesheet" href="~/assets/css/contact.css">


<!-- CONTAT US START -->
<section class="contact">
    <div class="content">
        <h2>BİZİMLƏ ƏLAQƏ</h2>

    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p><br>Baki, Azərbaycan</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Telefon</h3>
                    <p>055-317-66-85</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-envelope-square"></i>
                </div>
                <div class="text">
                    <h3>Email</h3>
                    <p>worldperfumluxury@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form asp-controller="contact" asp-action="create" method="post">
                <h2>Messaj göndərin</h2>
                <div class="inputBox">
                    <input asp-for="@Model.UserName" type="text" required="required">
                    <span>İstifadəçi adiniz</span>
                </div>
                <div class="inputBox">
                    <input asp-for="@Model.Email" type="text" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input asp-for="@Model.Phone" type="tel" required="required">
                    <span>Əlaqə nömrəniz</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Sizin messajiniz...</span>
                </div>
                <div class="inputBox">
                    <input asp-controller="Contact" asp-action="create" type="submit" value="Göndər" style="line-height:3.5;">
                </div>

            </form>
        </div>
    </div>
</section>



<!-- Product slider multi -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
