@model List<BasketVM>
@{
    double subtotal = 0;
}
<div class="basket">
    <i class="fa-solid fa-xmark closebasket"></i>
    <hr>
    @foreach (BasketVM basketVM in Model)
    {
        subtotal += basketVM.Count * basketVM.Price;
        <div class="prods">
            <img src="~/assets/img/parfums/@basketVM.Image" alt="">
            <div class="prod-text">
                <p>@basketVM.Name</p>
                <h6>@basketVM.Count × <span>@basketVM.Price₼</span></h6>
            </div>
            <a asp-controller="Basket" asp-action="DeleteBasket" asp-route-id="@basketVM.ProductId" class="deletebasket"><i class="fa-solid fa-xmark"></i></a>
        </div>
    }
    <h6>Subtotal: <span>@subtotal₼</span></h6>
    <div class="aboutcart">
        <a asp-action="index" asp-controller="Basket">View Cart</a>
        <a asp-controller="Order" asp-action="Create" class="checkout">Proceed to Checkout</a>
    </div>
</div>