@model List<Unisexshop>
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
<div class="container mt-3">
    <div class="row">
        <div class="header d-flex justify-content-between mt-3">
            <h3>Unisexshop</h3>
            <div class="ml-4">
                <a class="btn btn-success" asp-controller="Unisexshop" asp-action="Create">Create</a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Number
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var unisexshop in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                <img src="~/assets/img/parfums/@unisexshop.Images" style="width:250px;height:150px; border-radius:unset" alt="unisexshop" />
                            </td>
                            <td>
                               
                                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@unisexshop.Id">
                                    <i class="icon-pencil"></i>
                                </a>


                                <form style="display:inline-block" method="post" asp-action="Delete" asp-route-id="@unisexshop.Id">
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        count++;
                    }




                </tbody>
            </table>
        </div>
    </div>

</div>


