
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<!-- ICONS FOR LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link rel="stylesheet" href="~+,/assets/css/blog.css">


<section class="breadcrumb-blog set-bg" data-setbg="img/breadcrumb-bg.jpg"
         style="background-image: url(https://diamond-magazine.com/media/article-images/08_CHANEL_N_5_VISUEL_8_LD.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
           
            </div>
        </div>
    </div>
</section>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
            TOM FORD 
            <span class="text-muted">
                TƏRZI ILƏ DÜNYANI ƏLƏ KEÇIRƏN ŞƏXS!
            </span>
        </h2>
        <p class="lead" style="font-size:2.25rem">
            Tom Ford — dəb dizayneri və kinorejissordur. O, 1961-ci ildə Amerikanın Texas ştatında dünyaya gəlmişdir.Heç kimin gözləmədiyi anda Guccidən ayrılan Tom Ford 2 il sonra 2006-cı ildə öz şəxsi brendi altında şirkətini yaradaraq, ən dəbli brendlərdən birinə çevrilə bilir. İlk öncə eynəklərlə başlayan uğur, daha sonra ətirlər, kişi və qadın geyimləri ilə davam edir. Parfümeriya sahəsinə də bundan sonra diqqət yetirməyə başlayır. Tom Ford "Estee Lauder" brendi üçün Youth Dew ətrini yeniləyir və öz ətrinin yaradılması ilə bağlı danışıqlara başlayır.2006-cı ildə o, brendin ilk - Black Orchid ətrini satışa çıxarır. Bu ətrin yaradılmasında nadir bitkilərdən hesab olunan qara orxideya çiçəyindən istifadə olunmuşdur. Eksklüzivliyi ilə başqa ətirlərdən seçilən bu parfüm Tom Fordun şah əsəri hesab olunur. Həm qadınlar, həm də kişilər tərəfindən çox sevilən Tom Ford Black Orchid Unisex ətri hal-hazırda Top 10 parfümlərdən hesab olunur. Black Orchid Unisex ətri brendin ilk ətridir, satışa çıxarıldığı andan indiyə qədər parfüm öz möhtəşəmliyini qoruyub saxlamışdır.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <div class="imageblog">
            <img src="~/assets/img/blog/tomford-blog.jpeg" style="height:530px;width:600px" />

        </div>

    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading"> <span class="text-muted">CHRISTIAN DIOR - DƏB TARIXINƏ ADINI QIZIL HƏRFLƏRLƏ YAZDIRAN DAHI!</span></h2>
        <p class="lead" style="font-size:2.25rem">
            Christian Dior dünya dəb tarixinə adını qızıl hərflərlə yazdıran moda ikonudur. Fransız moda dizayneri öz adını daşıyan dünyanın ən məşhur moda evlərindən hesab olunan "Christian Dior" un yaradıcısıdır. O, 1940-cı illərin sonları və 1950-ci illərin əvvəllərinin ən qüdrətli və nüfuzlu modelyeri, həmçinin müharibədən sonrakı illərdə modanın yeni erasını açmaqla yanaşı, həm də adını tarixə modanın tacsız şahı kimi yazdırdı. Dior bu modanı biznes sahəsi kimi inkişaf etdirmək üçün onun yeni modelini yaratdı. O, bir neçə məhsulu bir brend altında birləşdirərək tarixdə ilk moda imperiyasının əsasını qoydu.
        </p>
    </div>
    <div class="col-md-5">
       <div class="imageblog">
           <img src="~/assets/img/blog/dior-magazine.jpg" style="height:400px;width:680px" />

       </div>

    </div>
</div>

<hr class="featurette-divider">


<!-- VIDEO LINK START -->

<section id="about">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-lg-6">
                <div class="img">
                    <img src="./assets/img/video-link/kilian-video.jpg" class="img-fluid"
                         alt="https://www.youtube.com/watch?v=NMtn_zgL4O8">
                    <div class="player position-absolute rounded-circle d-flex align-items-center justify-content-center">
                        <i class="fas fa-play fa-lg"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text mt-5 mt-lg-0 px-lg-5">
                    <h1>Suprise Your <span>Kilian!</span> Let us arrange a smile.</h1>
                    <p class="py-3">
                        Where flowers are our inspiration to create lasting memories. Whatever the
                        occasion...
                    </p>
                    <ul class="list-unstyled">
                        <li class="mt-3">
                            <img src="img/h1-custom-icon.png" class="mr-2" alt=""> Hand picked just
                            for you.
                        </li>
                        <li class="mt-3">
                            <img src="img/h1-custom-icon.png" class="mr-2" alt=""> Unique flower
                            arrangements
                        </li>
                        <li class="mt-3">
                            <img src="img/h1-custom-icon.png" class="mr-2" alt=""> Best way to say
                            you care.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- VIDEO LINK END -->
<!-- SUBSCRIBE START -->

<section id="subscribe">
    <div class="container py-5">
        <div class="row py-5">
            <div class="col-12">
                <div class="content text-center py-5">
                    <h3></h3>
                    <div class="form-group d-flex justify-content-center flex-wrap mt-5">
                        <input type="email" placeholder="Email Address" class="form-control-lg rounded-0">
                        <button class="btn btn-danger btn-lg rounded-0 px-5 mt-3 mt-sm-0">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SUBSCRIBE END -->


