@model List<Slider>

@foreach (var slider in Model)
{
    <div class="carousel-item">
        <div class="carousel-image">
            <img src="~/assets/img/slider/@slider.Image" alt="Alternate Text" />
            
        </div>
    </div>
}