@model List<NewCollection>
<div class="row">

    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">
                <div class="content">
                    <div class="front">
                        <img class="profile" width="100%" src="./assets/img/NewCollection/@item.Image"
                             alt="Givenchy">
                        <h2>@item.Name</h2>
                    </div>
                    <div class="back from-left">
                        <p class="des">
                            <h1>Tərkib</h1>

                            <h2>
                               @item.Desc
                            </h2>
                        
                        </p>
                   

                        <ul class="social-icon">

                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-instagram"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }



</div>