@model Womenshop
@{
    ViewData["Title"] = "Edit";

}
<div class="container mt-5">
    <div class="img">
        <img src="~/assets/img/parfums/@Model.Images" alt="ptoduct" style="width:250px;height:250px" />
    </div>
    <form class="forms-sample" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div class="form-group">

            <input class="form-control" style="width:300px;height:60px" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>
            <input class="form-control" style="width:300px;height:60px" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
            <input class="form-control" style="width:300px;height:60px" asp-for="Price">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

