@model List<BasketDetailVM>
    @{
        ViewData["Title"] = "Basket";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }



<div class="container">
    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="header d-flex justify-content-between my-5">
                        <h1 class="card-title my-3">Basket</h1>

                        @*<div><a class="btn btn-success btn-sm my-4" href="#">Create</a></div>*@


                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> Number </th>
                                    <th> Image </th>
                                    <th> Name </th>
                                    <th> Count </th>
                                    <th> Price </th>
                           

                                </tr>
                            </thead>
                            <tbody>

                                foreach (var product in model)
                             {

                                <tr>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>

                              }




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
