
@model List<Product>

<section id="products">
    <div class="container">
        <div class="row py-5">
            @foreach (Product item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-2 mt-3">
                    <div class="product-item product-item-small text-center" data-id="popular">
                        <div class="img">
                            <a href="">
                                <img src="~/assets/img/product/@item.MainImage" class="img-fluid" alt="">
                            </a>
                        </div>
                        <div class="title mt-3">
                            <h6>@item.Name</h6>
                        </div>
                        <div class="price">
                            <span class="text-black-50">$@item.Price</span>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
