body {
  font-family: urbanist, sans-serif;
  font-size: .9375rem;
  font-weight: 500;
  line-height: 2.5;
  color: #7e7e7e;
  text-align: left;

}

/* HEADER NAVBAR CSS */

header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 200px;
  height: 100px;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul li {
  position: relative;
  padding: 48px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 20px;
  text-transform:inherit;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
}


header nav ul li a:hover::after {
  width: 80%;
}



header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #fff;
  position: absolute;
  top: 115px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}



 header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
} 


header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}
/* Icons */
.header__nav__option {
  text-align: right;
  padding: 30px 0;
}
.header__nav__option a {
  display: inline-block;
  margin-right: 26px;
  position: relative;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.header__nav__option .price {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  display: inline-block;
  margin-left: -20px;
  position: relative;
  top: 3px;
}
/* SEARCH */


.search__box {
float: left;
width: 0;
height: 4rem;
background: none;
color: #f7f7f7;
font-size: 1.5rem;
border-radius: 2rem;
outline: none;
border: none;
position: relative;
opacity: 1;
transition: all .75s ease-in;
cursor: pointer;

}

.search__icon {
box-sizing: border-box;
float: right;
font-size: 2.5rem;
display: inline-block;
margin-left: .8rem;
margin-top: 0;
cursor: pointer;
position: absolute;
color: #21BBD8;
transition: all .25s ease-in;
padding: .7rem;
border-radius: 50%;
}

.container:hover > .search__box {
width: 85%;
padding: 0 1rem;
}

.container:hover > .search__icon {
background-color: gainsboro;
}

.show {
width: 85%;
border: 1px solid #21BBD8;
}



/* CAROUSEL */
.hero-carousel .carousel-item .carousel-image {
  transform: scale(1) translateX(0);
  transition: all 0.6s;
}

.hero-carousel .carousel-item.carousel-item-next .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-right .carousel-image {
  transform: scale(1.3) translateX(-50%);
}

.hero-carousel .carousel-item.carousel-item-prev .carousel-image,
.hero-carousel .carousel-item.active.carousel-item-left .carousel-image {
  transform: scale(1.3) translateX(50%);
}

.hero-carousel .carousel-item.carousel-item-next.carousel-item-left .carousel-image,
.hero-carousel .carousel-item.carousel-item-prev.carousel-item-right .carousel-image {
  /*transform: scale(1);*/
  transform: scale(1) translateX(0);
}


/* Makes carousel full screen */
.hero-carousel .carousel-item {
  height: 50vh;
  overflow: hidden;
}

.hero-carousel .carousel-item .carousel-image {
  height: 50vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


body {
  background-color: #333;
}

/* container start */
.container {
  padding: 0 20px;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

/* container end */

/* section start */
.section {
  padding: 110px 0;
}


.section__header {
  margin-bottom: 90px;
}

@media (max-width: 576px) {
  .section {
      padding: 90px 0;
  }

  .section__header {
      margin-bottom: 70px;
  }
}

/* section end */

 /* Ən çox satilanlar  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 100px;
}

.section-products .header h3 {
    font-size: 1.5rem;
    color: #fe302f;
    font-weight: 40px;
}

.section-products .header h2 {
    font-size: 3.5rem;
    font-family:sans-serif;
    font-weight: 100px;
    color: #444444; 
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
		transform: scale(1.2,1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    
		transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: no-repeat center;
    background-size: cover;
}



.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 40px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 50px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 2.5rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 2.5rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

 /* Ən çox satilanlar end  */

/* 
BRANDS LOGO */
/*

/* Logo Slider */

.logo-slider {
	background: white;
	-webkit-box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.125);
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.logo-slider::before, .logo-slider::after {
	background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(255, 255, 255, 0)));
	background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
	content: "";
	height: 175px;
	position: absolute;
	width: 200px;
	z-index: 2;
}

.logo-slider::after {
	right: 0;
	top: 0;
	-webkit-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.logo-slider::before {
	left: 0;
	top: 0;
}

.logo-slider .logo-slide-track {
	-webkit-animation: logo-scroll 60s linear infinite;
	animation: logo-scroll 60s linear infinite;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
	height: 150px;
	width: 250px;
	padding: 20px;
}

@-webkit-keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes logo-scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}


#ourclients {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background:#f9f9f9;
  padding-bottom:30px;
  height:150px;
}
#ourclients .clients-wrap {
  display: block;
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
#ourclients .clients-wrap ul {
  display: block;
  list-style: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#ourclients .clients-wrap ul li {
  display: block;
  float: left;
  position: relative;
  width: 220px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
#ourclients .clients-wrap ul li img {
  vertical-align: middle;
  max-width: 100%;
  width:150px;
  max-height: 100%;
  -webkit-transition: 0 linear left;
  -moz-transition: 0 linear left;
  transition: 0 linear left;
}
#ourclients h3{
border-bottom:2px solid #3399ff;
width:150px;
padding:10px;
} */
 
  /* Product slider multi start */

  .slider-item{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    
}
.slider-item .slider-image img{
    margin: 0 auto;
    width: 100%;
}
.slider-item .slider-main-detail{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    font-weight: 800;
    font-family:'Times New Roman', Times, serif ;
 
}
.slider-item:hover .slider-main-detail{
    background-color: #dbeeee !important;

    
}

.slider-item .price{
    float: left;
    margin-top: 5px;
}
.slider-item .price h5{
    line-height: 40px;
    font-size: 20px;
    margin: 0;
}

.detail-price{
    color: #219FD1;
}
.slider-item .slider-main-detail .rating{
    color: #777;
}
.slider-item .rating{
    float: left;
    font-size: 18px;
    text-align: right;
    line-height: 60px;
    margin-bottom: 10px;
    height: 52px;
}
.slider-item .btn-add{
    width: 50%;
    float: left;
    border-right: 1px solid #E1E1E1;
}
.slider-item .btn-details{
    width: 60%;
    float: left;
}
.controls{
    margin-top: 20px;
}
.btn-info,.btn-info:visited,.btn-info:hover{
	background-color: #21BBD8;
	border-color: #21BBD8;
}
.btn-info{
	margin-left:5px;
}
.slider-main-detail:hover{
	background-color: #dbeeee !important;
}
.AddCart{
	margin: 0px;
	padding:5px;
	border-radius:2px;
	margin-right:10px;
}
.review {
	margin-bottom: 5px;
	padding-top:5px;
}


*/
/* RESPONSIVE CARD New Collection */

* {
  box-sizing: border-box;
}

.title {
  font-size: 60px;
  padding: 20px 0px;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #eaeaea;
}

.container {
  
  margin: 0px auto;
}

.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}


.row {
  margin: 0 -5px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 500px) {

  .container {
    width: 100%;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.card .profile {
  border-radius: 10px;
  transition: 0.2s;
}

.card:hover .profile {
  transform: scale(1.4);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.card .content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

}

.card .content .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1e6;
  transition: 1s;

  z-index: 1;
  padding: 10px;
}

.from-left {
  top: 0;
  left: -100%;
}

.card:hover .content .from-left {
  left: 0%;
}

.from-bottom {
  top: 100%;
  left: 0;
}

.card:hover .content .from-bottom {
  top: 0%;
}

.from-right {
  top: 0%;
  right: -100%;
}

.card:hover .content .from-right {
  right: 0;
}

.card .content .back h2 {
  font-size: 25px;
  letter-spacing: 2px;
}

.card .content .back .tem-img {
  border-radius: 100%;
}

.card .content .back .des {
  font-size: 13px;
  padding: 20px 0px;
}

.card .content .back .social-icon {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.card .content .back .social-icon li {
  display: inline-block;
}

.card .content .back .social-icon li a {
  display: block;
  background: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 50px;
  border-radius: 100%;
}

/* VIDEO */

#about .img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

#about .img img {
  -webkit-transition: all .3s;
  transition: all .3s;
}

#about .img:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#about .img .player {
  width: 100px;
  height: 100px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#about .img .player i {
  color: #f34f3f;
}

#about .about-text h1 {
  font-family: "Playfair Display", serif;
}

#about .about-text h1 span {
  color: #f34f3f;
}

#about .about-text p, #about .about-text li {
  font-family: Lora, serif;
  font-size: 17px;
  line-height: 29px;
}
/* VIDEO END */

/* TESTIMONIAL  START */

body {
	font-family: 'Montserrat', sans-serif;
	background-color:whitesmoke;
}
.testimonial {
	padding: 60px 0;
}
.sec-heading {
	margin-bottom: 70px;
}
.sec-heading h6 {
	font-family: allura;
	font-weight: 800;
	font-size: 82px;
}
.single-box {
	border: 3px solid #e6f0fa;
	padding: 50px 30px 40px;
	border-radius: 20px;
	background: #fff;
}
.img-area {
	margin: 55px 0 25px;
}
.single-box img {
	max-width: 180px;
	border-radius: 70%;
	margin: 0 auto
}
.single-box h4 {
	font-weight: 500;
	margin: 0;
	font-family: 'Allura', cursive;
	font-size: 55px;
}
.single-box {
	overflow: hidden
}
.single-box .img-area {
	width: 40%;
	float: left;
	margin: 0
}
.single-box .content {
	width: 50%;
	float: left;
	padding-left: 10px;
  

}

.single-box p {
	margin: 10px 0 25px;
	line-height: 1.;
  font-size:large;
  font-style: normal;
  font-weight: 700;
}
.testi-carousel-three .single-box {
	border: 0;
	padding: 0 50px;
}
.testi-carousel .owl-dots, .clients-carousel .owl-dots, .testi-carousel-three .owl-dots {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -60px;
	text-align: center;
	width: 100%;
}
.testi-carousel .owl-dot, .clients-carousel .owl-dot, .testi-carousel-three .owl-dot {
	width: 16px;
	height: 16px;
	background-color: #ddd;
	display: inline-block;
	margin: 0 6px;
	text-align: center;
	border-radius: 50%;
}
.testi-carousel .owl-dot.active, .clients-carousel .owl-dot.active, .testi-carousel-three .owl-dot.active {
	background-color: blueviolet;
}
@media only screen and (min-width: 360px) and (max-width: 479px) {
	.testimonial {
		padding: 70px 0 130px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
	.testimonial {
		padding: 70px 0 130px;
	}
	.single-box {
		padding: 50px 0 40px;
	}
	.single-box .img-area {
		width: 100%;
		float: none;
	}
	.single-box .content {
		width: 100%;
		float: none;
	}
}


/* TESTIMONIAL End */


/* SUBSCRIBE START CSS */

#subscribe {
  background: url(../img/slider/subscribe-libre.jpg);
  background-attachment: fixed;
}

#subscribe .content h3 {
  color: #fff;
  font-size: 30px;
  font-family: "Playfair Display", serif;
}

#subscribe .content input {
  border: none;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  padding: 30px !important;
  width: 100% !important;
}

#subscribe .content input:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media (min-width: 576px) {
  #subscribe .content input {
    width: 50% !important;
  }
}

#subscribe .content ::-webkit-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content :-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content ::-ms-input-placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content ::placeholder {
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

#subscribe .content button {
  padding: 20px !important;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  letter-spacing: .1em;
  text-transform: uppercase;
  background-color: #f34f3f;
}



/* FOOTER CSS START */

.col_white_amrc {
  color: #FFF;
  font-size: large;
  
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 56px;
  margin-bottom: 27px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer-page-one {
  margin: 0px;
  list-style-type: none;
  font-size: 17px;
  padding: 0px 0px 10px 0px;
}

.footer-page-one li {
  padding: 0px 0px 5px 0px;
}

.footer-page-one li a {
  color: white;
  
}
a {
  color: white;
  text-decoration: none;
  font-size: medium;
  background-color: transparent;
}


.footer-page-one li a:hover {
  color: white;
  text-decoration:double;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer-page-two {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer-page-two li p {
  display: table;
}

.footer-page-two li a:hover {
  text-decoration: none;
}

.footer-page-two li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.footer-page-one {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.footer-bottom li {
  display: inline;
}

.footer-bottom li a {
  color: #999;
  margin: 0 12px;
}

.social-footer-ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social-footer-ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social-footer-ul li a {
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
}

.social-footer-ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
/* FOOTER END */
