/* HEADER NAVBAR CSS */

header nav {
  padding: 0px !important;
}

header nav #logo {
  width: 220px;
  height: 35px;
}

header nav #mobile-navbar-show {
  cursor: pointer;
  border: none;
}

header nav ul li {
  position: relative;
  padding: 48px 20px;
}

header nav ul li a {
  position: relative;
  font-size: 20px;
  text-transform: inherit;
  letter-spacing: .1em;
  color: black !important;
  font-weight: 500;
}

header nav ul li a::after {
  content: "";
  -webkit-transition: width .3s;
  transition: width .3s;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: black;
}


header nav ul li a:hover::after {
  width: 80%;
}



header nav ul li ul {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  background-color: #fff;
  position: absolute;
  top: 115px;
  left: 0;
  width: 228px;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

header nav ul li ul li {
  padding: 5px 30px;
}



header nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}


header .mobile-navbar {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #fff;
  top: 0;
  right: 36px;
  width: 0;
  opacity: 0;
  visibility: hidden;
}

header .mobile-navbar .fa-times {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  color: #f34f3f;
}

header .mobile-navbar ul li {
  margin-top: 20px;
}

header .mobile-navbar ul li a {
  font-size: 12px;
  text-transform: uppercase;
  color: black;
  letter-spacing: .1em;
}

header .mobile-navbar ul li a:hover {
  text-decoration: none;
}

header .mobile-navbar ul ul {
  display: none;
}

header .mobile-navbar ul ul li {
  margin-top: 0;
}

header .mobile-navbar ul ul li a {
  padding: 0 !important;
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0em;
  color: gray;
}

header .mobile-navbar ul ul ul li {
  text-transform: uppercase;
}

header .mobile-navbar.active {
  width: 420px;
  visibility: visible;
  opacity: 1;
  right: 0;
  z-index: 9;
}

/* Icons */
.header__nav__option {
  text-align: right;
  padding: 30px 0;
}

.header__nav__option a {
  display: inline-block;
  margin-right: 26px;
  position: relative;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.header__nav__option .price {
  font-size: 15px;
  color: #111111;
  font-weight: 700;
  display: inline-block;
  margin-left: -20px;
  position: relative;
  top: 3px;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* CAROUSEL CSS */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.carousel {
  margin-bottom: 4rem;
}


.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


.carousel-item {
  height: 30rem;
}

.carousel-item>img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

 /* ALL PRODUCTS CSS */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

 body {
     font-family: "Poppins", sans-serif;
     color: #444444;
 }
 
 a,
 a:hover {
     text-decoration: none;
     color: inherit;
 }
 
 .section-products {
     padding: 80px 0 54px;
 }
 
 .section-products .header {
     margin-bottom: 100px;
 }
 
 .section-products .header h3 {
     font-size: 1.5rem;
     color: #fe302f;
     font-weight: 40px;
 }
 
 .section-products .header h2 {
     font-size: 3.5rem;
     font-family:sans-serif;
     font-weight: 100px;
     color: #444444; 
 }
 
 .section-products .single-product {
     margin-bottom: 26px;
 }
 
 .section-products .single-product .part-1 {
     position: relative;
     height: 290px;
     max-height: 290px;
     margin-bottom: 20px;
     overflow: hidden;
 }
 
 .section-products .single-product .part-1::before {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: -1;
     transition: all 0.3s;
 }
 
 
 
 .section-products .single-product .part-1 .discount,
 .section-products .single-product .part-1 .new {
     position: absolute;
     top: 15px;
     left: 20px;
     color: #ffffff;
     background-color: #fe302f;
     padding: 2px 8px;
     text-transform: uppercase;
     font-size: 1.5rem;
 }
 
 .section-products .single-product .part-1 .new {
     left: 0;
     background-color: #444444;
 }
 
 .section-products .single-product .part-1 ul {
     position: absolute;
     bottom: -41px;
     left: 20px;
     margin: 0;
     padding: 0;
     list-style: none;
     opacity: 0;
     transition: bottom 0.5s, opacity 0.5s;
 }
 
 .section-products .single-product:hover .part-1 ul {
     bottom: 40px;
     opacity: 1;
 }
 
 .section-products .single-product .part-1 ul li {
     display: inline-block;
     margin-right: 4px;
 }
 
 .section-products .single-product .part-1 ul li a {
     display: inline-block;
     width: 40px;
     height: 40px;
     line-height: 50px;
     background-color: #ffffff;
     color: #444444;
     text-align: center;
     box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
     transition: color 0.2s;
 }
 
 .section-products .single-product .part-1 ul li a:hover {
     color: #fe302f;
 }
 
 .section-products .single-product .part-2 .product-title {
     font-size: 1.5rem;
 }
 
 .section-products .single-product .part-2 h4 {
     display: inline-block;
     font-size: 1.5rem;
 }
 
 .section-products .single-product .part-2 .product-old-price {
     position: relative;
     padding: 0 7px;
     margin-right: 2px;
     opacity: 0.6;
 }
 
 .section-products .single-product .part-2 .product-old-price::after {
     position: absolute;
     content: "";
     top: 50%;
     left: 0;
     width: 100%;
     height: 1px;
     background-color: #444444;
     transform: translateY(-50%);
 }
 

 /* ALL PRODUCTS CSS */


 
/* FOOTER CSS START */

.col_white_amrc {
  color: #FFF;
}

footer {
  width: 100%;
  background-color: #263238;
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer-page-one {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer-page-one li {
  padding: 0px 0px 5px 0px;
}

.footer-page-one li a {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}


.footer-page-one li a:hover {
  color: white;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer-page-two {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer-page-two li p {
  display: table;
}

.footer-page-two li a:hover {
  text-decoration: none;
}

.footer-page-two li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.footer-page-one {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.footer-bottom li {
  display: inline;
}

.footer-bottom li a {
  color: #999;
  margin: 0 12px;
}

.social-footer-ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social-footer-ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social-footer-ul li a {
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
}

.social-footer-ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

/* FOOTER END */