@model NewCollection
@{
    ViewData["Title"] = "Create";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group" style="margin-top:7rem!important">
            <label asp-for="Photo"></label>
            <input class="form-control" style="width:300px" asp-for="Photo">
            <span class="text-danger" asp-validation-for="Photo"></span>

            <input asp-for="Header" type="text" placeholder="Header" />
            <span asp-validation-for="Header"></span>

            <input asp-for="Desc" type="text" placeholder="Desc" />
            <span asp-validation-for="Desc"></span>

        </div>

        <button type="submit" class="btn btn-primary me-2">Submit</button>
        <a asp-action="Index" class="btn btn-light">Cancel</a>
    </form>
</div>

