@model List<BasketVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<section class="about">
    <div class="about-text">
        <h1>Cart</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>Cart</span>
    </div>
</section>
<section class="cart">
    <div class="maincart">
        @await Html.PartialAsync("_BasketIndexPartial", Model)
    </div>


</section>