
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- ICONS FOR LINKS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="./assets/css/search.css">


<div class="container">

    <header>
        <h2><a href="home.html"><i class="ion-plane"></i>worldperfumluxury</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="product.html" title="Ətirlər">ƏTİRLƏR</a>
                </li>
                <li>
                    <a href="womenshop.html" title="Qadın">QADIN</a>
                </li>
                <li>
                    <a href="menshop.html" title="Kişi">KİŞİ</a>
                </li>
                <li>
                    <a href="unisexshop.html" title="Unisex">UNİSEX</a>
                </li>
                <li>
                    <a class="btn" href="login-register.html" title="Qeydiyyat / Giriş">Qeydiyyat / Giriş</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="cover">
        <h1>AXTAR</h1>
        <form class="flex-form">
            <input type="search" placeholder="">
            <input type="submit" value="Search">
        </form>

    </div>

</div>

