@model FileClass
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form methord="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <input type="file" name="fifile" />
    <input type="submit" value="Upload" />
    <hr />
</form>
<div>
    File Name:<input id="search" />
    <button onclick="search()">search</button>
</div>
<table class="table">
    <tr>
        <th>File Name</th>

    </tr>
    @foreach (var item in FileClass)
    {
        <tr>
            <td>@item.Name</td>
            <td><a href="@Url.Action("Download","Home",new { filename=item.Name })">Download</a></td>
            @if (User.IsInRole("Admin"))
            {
                <td><a href="@Url.Action("Delete", "Home", new { filedel = item.Name })">Delete</a></td>
            }
            <td><a href="/Home/DocumentViewer/@item.Name">Viewer</a></td>

        </tr>
    }
</table>
@section scripts
{
    <script>
        function search() {
            $("tr").each(function (index, value) {
                if (index > 0 && !$(this).find("td")[0].innerText.includes($("#search").val())) {
                    $(this).attr("hidden", true);
                } else {
                    $(this).removeAttr("hidden");
                }
                console.log(value);
            })
        }
    </script>
}

