@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ALL PRODUCTS START -->

<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h2></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Product -->
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1" style="background:url('assets/img/parfums/@item.Images') ; background-size:cover">
                            <div class="part-1">

                                <ul>
                                    <li><a asp-controller="Product" asp-action="Detail"><i class="fas fa-info"></i></a></li>
                                    <form style="display:inline-block">
                                        <a data-id="@item.Id" class=" add-items ad-basket btn btn-sm"><i data-id="@item.Id" class="fas fa-shopping-cart"></i></a>
                                    </form>

                                </ul>
                            </div>
                            <div class="part-2">
                                <h2 class="product-header">KILIAN</h2>
                                <h3 class="product-old-price">350₼</h3>
                                <h4 class="product-price">300₼</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- Single Product -->

        </div>
    </div>

</section>

<!-- ALL PRODUCTS END -->